.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-container__label {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.auth-container__input {
  height: 46px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background: #2f2f2f;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 15px;
}

.auth-container__input:focus {
  outline: none;
  border: 1px solid #ee3465;
}

.auth-container__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 10px;
}
