.promo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    margin: 20px auto 0;
    border-radius: 10px;
    background: #272727;
 }
 
 .promo__title {
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    margin: 160px auto 217px;
    color: #ffffff;
 }
 
 @media screen and (max-width: 768px) {
    .promo__title {
       max-width: 680px;
       font-size: 40px;
       line-height: 52px;
       margin: 350px 24px 380px;
    }
 }
 
 @media screen and (max-width: 430px) {
    .promo {
       margin-top: 15px;
    }
    .promo__title {
       font-size: 29px;
       line-height: 37px;
       margin: 220px auto 255px;
    }
 }