.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 396px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #4285f4;
  color: #ffff;
  padding: 13px 0 15px;
  cursor: pointer;
}

.button:hover {
  transition: opacity 0.3s linear;
  opacity: 0.8;
}

.button:disabled {
  background: #6a6c70;
  color: #dcdcdc;
  transition: none;
  cursor: default;
}

@media screen and (max-width: 450px) {
  .button {
    width: 260px;
    font-size: 12px;
    line-height: 1.25;
    padding-top: 15px;
  }
}
