.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #2f2f2f;
  border-left: 1px solid #505050;
  padding: 0 30px;
}

.filter__input {
  width: 36px;
  height: 20px;
  position: relative;
  border-radius: 20px;
  background: #8b8b8b;
  cursor: pointer;
}

.filter__input::after {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  left: 2px;
  bottom: 1px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  transition: 0.2s linear;
}

.filter__input:checked {
  background: #3ddc84;
}

.filter__input:checked::after {
  left: 50%;
  right: 5.56%;
  transition: 0.2s linear;
}

.filter__label {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 15px;
}

@media screen and (max-width: 780px) {
  .filter-checkbox {
    margin-left: 19px;
    padding-left: 13px;
  }
}

@media screen and (max-width: 530px) {
  .filter-checkbox {
    position: absolute;
    padding: 0;
    top: 185px;
    right: 126px;
    background-color: #202020;
    border: none;
  }
}

@media screen and (max-width: 450px) {
  .filter-checkbox {
    right: 76px;
  }

  .filter__label {
    font-size: 11px;
    line-height: 1.6;
  }
}
