.about-project {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  padding: 112px 0;
  color: #ffffff;
}

.about-project__info-container {
  display: flex;
  column-gap: 52px;
}

.about-project__info-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 26px;
  letter-spacing: -0.04em;
  margin: 70px 0 26px;
}

.about-project__info-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 110px;
}

.about-project__time {
  justify-content: space-between;
  display: flex;
}

.about-project__time-line:first-of-type {
  width: 20%;
}

.about-project__time-line:last-of-type {
  width: 80%;
}

.about-project__time-line__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 9px 0 0;
  height: 27px;
  background: #3ddc84;
  color: #000000;
} 

.about-project__time-line__title_frontend {
  background: #303030;
  color: #ffffff;
}

.about-project__time-line__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #8b8b8b;
  text-align: center;
  margin: 14px 0 0;
}

@media screen and (max-width: 850px) {
  .about-project {
    margin: 0 50px;
  }
}

@media screen and (max-width: 780px) {
  .about-project {
    padding: 90px 0;
  }

  .about-project__info {
    column-gap: 37px;
  }

  .about-project__info-title {
    margin: 70px 0 22px;
  }

  .about-project__info-subtitle {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 0 93px;
  }

  .about-project__time-line:first-of-type {
    width: 21%;
  }

  .about-project__time-line:last-of-type {
    width: 79%;
  }

  .about-project__time-line__text {
    font-weight: 400;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    margin: 0 18px;
    padding: 70px 0;
  }

  .about-project__info-container {
    flex-direction: column;
    row-gap: 56px;
    margin-top: 60px;
  }

  .about-project__info-title {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 1.22;
  }

  .about-project__info-subtitle {
    font-size: 11px;
    line-height: 1.46;
    margin: 0;
  }

  .about-project__time {
    margin-top: 60px;
  }

  .about-project__time-line-title {
    height: 24px;
    font-size: 11px;
    line-height: 1.18;
    padding: 11px 0 0;
  }

  .about-project__time-line:first-of-type {
    width: 39%;
  }

  .about-project__time-line:last-of-type {
    width: 71%;
  }

  .about-project__time-line-text {
    margin: 10px 0 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
  }
}