.about-project {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 70px;
  color: #ffffff;
}

.about-project__info {
  display: flex;
  gap: 40px;
  padding: 70px 0 110px;
  margin: 0;
  list-style: none;
  max-width: 1140px;
}

.about-project__info-container {
  max-width: 550px;
}

.about-project__info-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 26px;
  letter-spacing: -0.04em;
  margin: 0;
  max-width: 550px;
}

.about-project__info-subtitle {
  max-width: 550px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.about-project__time {
  display: flex;
}

.about-project__time-line__backend {
  margin: 0;
  width: 228px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-project__time-line__backend-data {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 9px;
  width: 228px;
  background: #3ddc84;
  color: #000000;
}

.about-project__time-line__frontend {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-project__time-line__frontend-data {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 9px;
  background: #303030;
  color: #ffffff;
}

.about-project__time-line__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #8b8b8b;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__info {
    gap: 30px;
    padding: 70px 0 93px;
  }

  .about-project__info-title {
    margin-bottom: 22px;
    max-width: 319px;
  }

  .about-project__info-subtitle {
    font-size: 12px;
    line-height: 1.5;
    max-width: 319px;
  }
}

@media screen and (max-width: 450px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__info {
    flex-direction: column;
    gap: 56px;
    margin-bottom: 60px;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 16px;
  }

  .about-project__info-subtitle {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__time-line__backend {
    margin-top: 60px;
    width: 100px;
    gap: 10px;
  }

  .about-project__time-line__backend-data {
    max-width: 80px;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timme-line__frontend {
    gap: 10px;
  }

  .about-project__timme-line__frontend-data {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__time-line__text {
    font-size: 11px;
    line-height: 1.18;
    margin: 10px 0 0;
  }
}
