@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  min-height: 100vh;
  min-width: 280px;
  max-width: 100%;
  background: #202020;
  margin: 0 auto;
  color: #ffffff;
  font-style: normal;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}